body{
    box-sizing:content-box;
    background-color: black;
    margin: 0%;
    overflow-x: hidden;
}
.top_header{
    display: flex;
    justify-content: space-between;
}
.netflix_heading{
    width: 23%;
    margin-left: 2%;
}
.sign_in{
    box-sizing: border-box;
    border: none;
    width:90%;
    height: 40%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 28%;
    padding-left: 10%;
    padding-right:10%;
    background-color: rgb(255, 1, 9);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 90%;
    font-family:Arial, Helvetica, sans-serif
    
}
.sign_in_box{
    width: 6%;

    text-align: center;
    margin-right: 2%;
}
.dropdown{  
    margin-top: 2%;
    margin-left: 57%;
    width: 10%;
}
@font-face {
    font-family: 'heading';
    src: url(BebasNeue.otf);
}
.main{
    background: url(../static/Netflix-Background.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.503);
    padding-bottom: 9%;
    border-bottom: 6px solid rgb(39, 35, 35);
}
.headings{
    margin-top: 14%;
}
.h1{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.dropdown_select{
    position: relative;
    background-color: rgba(0, 0, 0, 0.123);
    color: rgb(252, 252, 252);
    border: 1px solid rgba(255, 255, 255, 0.394);
    border-radius: 5%;
    font-size: 2.6vh;
    width: 90%;
    height: 50%;
    text-align: center;
    padding-left: 5%;
    padding-right: 10%;
    appearance: none;
}
.dropdown{
    position: relative;
}
.dropdown::after{
    content: "▼";
    color: white;
    font-size: .6rem;
    top:11px;
    right:30px;
    position: absolute;
}
@font-face {
    font-family: 'thin';
    src: url(ClearSansThin-qDg5.ttf);
}
.h2{
    font-family:thin;
}
.label_email{
    position: relative;
    color: rgba(255, 255, 255, 0.66);
    /* top:38px;     */
    margin-right: 25px;
    margin-top: 18px;
    left: 310px;
    pointer-events: none;
    font-family:thin;
    transition: all .5s ease;
    width: 100px;
}
.label_email_top{
    left: 338px;
}
input{
    margin-left: 0vh;
    background-color: rgba(0, 0, 0, 0.441);
    border: 1px solid rgba(255, 255, 255, 0.467);
    border-radius: 5px;
    width: 400px;
    padding-left: 20px;
    padding-right: 150px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
}
.get_started{
color:white;
font-size: 150%;
width: auto;
background-color: rgb(255, 10, 10);
border: none;
padding: 1.8vh;
padding-left: 5vh;
padding-right: 8vh;
border-radius: 5px;
text-align: center;
position: relative;
top: 3px;
margin-left: 3px;
}
.arrow{
    position: relative;
    top: 6px;
    right: 100px;
    width: 13px;
}
.search_bar input:focus{
    border: 1px solid rgb(255, 254, 254);
    outline: 2px solid white;
    outline-offset: 2px;
}
.secondslide{
    margin-top: 50px;
    padding-bottom:  60px;
    border-bottom: 6px solid rgb(39, 35, 35);
}
.secondslidepara{
    margin-top: 10%;
    margin-left: 3%;
    float: left;
}
.tv img{
    width: 40%;
    position: relative;
    left: 20px;
}
.phone img{
    width: 45%;
    position: relative;
    left: 20px;
}
.thirdslidepara{
    margin-top: 10%;
    margin-right: 3%;
    float: right;
}
.phone_below_container{
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 8px;
    width: 30%;
    height: 80px;
    bottom: 110px;
    left: 115px;
    background-color: black;    
}
.phone_below{
    display: flex;
    justify-content:space-between;
    margin: 2%;
    
}
.phone_stranger{
    margin-right: 50%;
}
.computer img
{
    position: relative;
    left: 60px;
}
.answers{
    background-color: rgb(40, 39, 39);
    padding: 1%;
    font-size: 110%;
    color: white;
    text-align: left;
    margin-top: .2%;
    margin-left: 1%;
    display: none;
}
.questions{
    justify-content: space-between;
    display: flex;  
    background-color: rgb(40, 39, 39);
    padding: 2%;
    font-size: 160%;
    color: white;
    border-bottom: 1px solid black;
    margin-left: 1%;
    border: none;
    width: 99%;
    text-align:left;
    box-shadow: 1px 1px 1px rgb(38, 37, 37);
    transition: all .5s;
}
.question_box{
   width: 95%;
   margin-left: auto;
   margin-right: auto;
}
.search_bar input,.get_started{
    position: relative;
    right: 60px;
}
.get_started{
    top: 5px;
}
.questions:hover{
    background-color: rgba(232, 228, 228, 0.226);
    cursor:pointer;
    
}
/* .questions:focus{
    svg{
        transform: rotate(45deg);
    }
} */
.answer_script{
    font-size: 130%;
    margin-left: 1%;
}
.last{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;    
}
.footers{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}
.foots{
  margin-top: 20px;
  margin-right: 50px;
  font-size: 90%;
  color: rgb(185, 182, 182);
}
.dropdown2{
    position: relative;     
    margin-top: 2%;
    width: 10%;
    height: 60px;
    margin-bottom: .1%;
}
.dropdown2::after{
    content: "▼";
    color: white;
    font-size: .6rem;
    top:11px;
    right:25px;
    position: absolute;
}
.get_started:hover{
    cursor: pointer;
    background-color: rgb(230, 12, 12);
}